<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crowd Analyzer</title>
</head>
<body>
    <div style = "width: 100%; text-align:center">
        <iframe src="http://hackwestern5.purplelettuce.net:3000/d-solo/TsGfeVLmz/new-dashboard-copy?panelId=2&orgId=1&from=1543114802000&to=1543115107000&kiosk"
                width="1400" height="600" frameborder="0">
        </iframe>
    </div>

    <div style = "text-align: center; font-family: Arial; font-size: 70px">
        <span><h1>{{ netChange }}</h1>
        <h4 style = "color:dimgray; font-family: Arial; font-size: 20px; position: relative; bottom: 100px">People in Facility</h4></span>
    </div>
</body>
</html>